$fontFamily:"Lexend",Arial, Helvetica, sans-serif;
$grey:#aeaeae;
$Withe:#f6f6f2;
$Color:#282727;


@mixin tablets{
    @media screen and  (max-width:860px) {@content }
};

@mixin phone {
    @media screen and ( max-width:390px){@content}
};

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
};


%cursor {
    cursor: pointer;
}
